extends layout

block content
	body.layout-full
		div.page.dishes
			div.ingredients
				div.page-header
					div.col-md-3
						ol.breadcrumb
							li.breadcrumb-item
								a(href=process.env['WEB_URL']+'/') 首頁
							li.breadcrumb-item #{title}
					h1.page-title #{title}
						a.btn.btn-secondary(href=process.env['WEB_URL']+'/ingredients') 看全部食材

					div.col-md-3.search
						form(action=process.env['WEB_URL']+'/dishes/search', method='POST')
							div.form-group
								div.input-group
									input.form-control(type='text' name='keyword' placeholder='尋找食譜')
									span.input-group-append
										button.btn.btn-primary(type='submit')
											i.bi.bi-search-heart-fill
				div.page-content
					div.panel
					div.panel-body.container-fluid
						div.row
							each dish in dishes
								div.col-md-12.card
									div.row
										div.col-md-3
											h4 #{dish.name}
											h4 成本 #{dish.price} 元
											img.img-thumbnail.border-success(src=dish.src alt=dish.name width=300)
										div.col-md-9
											div.row
												each ingredient in dish.ingredients
													div.col-md-2
														h4 #{ingredient.name}
														span #{ingredient.quantity + ingredient.unit} #{ingredient.price} 元
														img.img-thumbnail.border-success(src=ingredient.src alt=ingredient.name width=150)